@import '/src/styles/main';

.projects-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.6rem;
  margin: 0 auto;
  justify-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;


&__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding:var(--padding);
  align-items: center;
  justify-content: center;
}
}

/* Mobile-specific Styles */
@media (max-width: 768px) {
  .projects-overview{
display:flex !important;
flex-direction: column;
width:98vw;
margin: 0;

  }


}
