@import '/src/styles/main';

.about-me {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    

    &__header {
        font-size: 2rem;
        padding-left: 1rem;
    }

    &__contact-info {
        @include flex-column;
        gap: var(--small-gap);
        width: 100%;
        text-align: left;
        align-items: flex-start;
    }

    &__bio {
        display: flex;
        flex-direction: column;
        gap: var(--small-gap);
    }

    &__social-links {display:flex; gap:var(--small-gap);justify-content: center;align-items: center;width:100%;}


    &__subheader {
        font-weight: 600;
        padding-left: 1rem;
        margin-bottom: 1rem;

        &::after {
            content: "";
            display: block;
            width: 32px;
            padding-top: 3px;
            border-bottom: 2px solid #757576;
        }
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;


        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__text {
        flex: 1;
        font-size: 1rem;
        line-height: 1.6;
        padding: 0 1rem;
    }

    &__image-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    &__image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
    }

}