@import '/src/styles/main';

.projects-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.6rem;
  margin: 0 auto;
  justify-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;


  &__container {
    @include flex-column;
    max-width: 1200px;
    padding: var(--padding);

  }
}

/* Mobile-specific Styles */
@media (max-width: 768px) {
  .projects-overview {
    @include flex-column;


    margin: 0;

  }


}