@import '/src/styles/main';

.hero {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  background-position: center;
  justify-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  width: 100vw;
  max-height:60vh;
  top: 7vh;
  margin-bottom:7vh;


  button {
    background-color: transparent !important;
    border: #003049 1px solid;
    color: #003049 !important;

    &:hover {
      border: #003049 1px solid !important;
      background-color: #003049 !important;
      color: white !important;
    }
  }

  &__video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    bottom: 0;
    grid-row:3;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    position: relative;
    @include flex-column;
    align-items: flex-start;
    width: 100%;
    z-index: 2;
    grid-row:2;
    width:100%;
        max-width: 100%;

  }



  &__title {
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0;
    font-family: 'PangramSans-Medium';
    letter-spacing: -0.1rem;
    color: #003049;
    margin-left: -0.2rem;
  }

  &__subtitle {
    font-family: 'GlacialIndifference-Regular';
    font-size: 1.2rem;

  }

  &__button-container {
    @include flex-row;
    justify-content: flex-start;
    height: 40px;

  }

  &__button {
    margin: 0;
  }

  &__links {
    list-style: none;
    display: none;
    flex-direction: row;
    gap: var(--small-gap);

    li {
      font-size: 1.2rem;
      position: relative;
      display: flex;
      font-family: 'PangramSans-Medium';
      white-space: nowrap;

      a::after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 25%;
        margin-top: 0.4rem;
        font-weight: 2rem;
        width: 50%;
        height: 1px;
        border-bottom: 2px solid #c6c6c6;

        transition: 0.4s;
      }

      a:hover::after {
        width: 100%;
        left: 0;
      }

      &::before {
        content: '•';
        margin-right: 0.5rem;
        margin-left: -0.4rem;
        color: #005a34;
        font-family: 'lato';
        margin-top: 0.3rem;
        font-size: 0.9rem;

      }

      &:first-child::before {
        content: '';
      }

    }
  }

  &__image {
    display: block;
    background-position: center;
    position: absolute;
    right: 0;
    background-size: contain;
    width: 100%;
    object-fit: contain;
    bottom: 0;
    padding: 0 2rem;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {


  .hero {
    min-height: 40vh;
    justify-content: center;


    &__title {
      font-size: 3rem;
      letter-spacing: -0.1rem;

    }

    &__content {
      padding: 0rem;
      width: 90%
    }

    &__image {
      max-height: 25%;
    }

    &__links {

      a {
        font-size: 1rem !important;
      }
    }
  }
}

@media (max-width: 1100px) {
  .hero {
    &__links {

      display: none;
    }
  }
}

@media (max-width: 767px) {
  .hero {

    &__content {
      padding: var(--padding) 0;
      margin-top: 0;
      justify-content: space-between;
    }

    &__button-container {
      bottom: 0;
      gap: var(--small-gap);
    }


    &__title {
      font-size: 1.75rem;
      font-weight: 500;
      text-align: left;
      width: 100%;

    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .hero {

    &__subtitle {

      max-width: 500px;

    }
  }
}