@import '/src/styles/main';

.hero {
  @include flex-column;
  background-position: center;
  justify-content: flex-start;
  position: relative;
  background-color: white;
  min-height: 60vh;
  width: 100vw;

  &__video-container {
    position: absolute;
    width: 100%;
    height: 37%;
    bottom: 0;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    position: relative;
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    z-index: 2;
    padding: 8rem;
  }

  &__title-container {
    position: relative;
    @include flex-column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 0;
    width: fit-content;
    max-width: 600px;
  }

  &__title {
    font-size: 3.4rem;
    font-weight: 400;
    margin: 0;
    font-family: 'PangramSans-Medium';
    letter-spacing: -0.25rem;
    color: #003049;
    margin-left: -0.2rem;
  }

  &__subtitle {

    font-family: 'GlacialIndifference-Regular';

  }

  &__button-container {
    @include flex-row;
    justify-content: center;
    height: 40px;
  }

  &__button {
    margin: 0;
  }

  &__links {
    list-style: none;
    display: none;
    flex-direction: row;
    gap: var(--small-gap);

    li {
      font-size: 1.2rem;
      position: relative;
      display: flex;
      font-family: 'PangramSans-Medium';
      white-space: nowrap;

      a::after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 25%;
        margin-top: 0.4rem;
        font-weight: 2rem;
        width: 50%;
        height: 1px;
        border-bottom: 2px solid #c6c6c6;

        transition: 0.4s;
      }

      a:hover::after {
        width: 100%;
        left: 0;
      }

      &::before {
        content: '•';
        margin-right: 0.5rem;
        margin-left: -0.4rem;
        color: #005a34;
        font-family: 'lato';
        margin-top: 0.3rem;
        font-size: 0.9rem;

      }

      &:first-child::before {
        content: '';
      }

    }
  }

  &__image {
    display: block;
    background-position: center;
    position: absolute;
    right: 0;
    background-size: contain;
    width: 100%;
    object-fit: contain;
    bottom: 0;
    padding: 0 2rem;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding: 5rem;
    min-height: 40vh;

    &__title {
      font-size: 3rem;
      letter-spacing: -0.1rem;

    }

    &__content {
      padding: 0rem;
    }

    &__image {
      max-height: 30%;
    }

    &__links {

      a {
        font-size: 1rem !important;
      }
    }
  }
}

@media (max-width: 1100px) {
  .hero {
    &__links {

      display: none;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    padding: var(--xl-padding) var(--padding);



    &__content {
      padding: 0;
      margin-top: 0;
      justify-content: space-between;
    }

    &__button-container {
      bottom: 0;
      gap: var(--small-gap);
    }


    &__title {
      font-size: var(--large-title-font);
      font-weight: 500;
      text-align: left;
      width: 100%;

    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .hero {

    &__subtitle {

      max-width: 500px;

    }
  }
}