@import '/src/styles/main';

.hero {
  @include flex-column;
  justify-content: center;
  align-items: flex-start;
  background-position: center;
  position: relative;
  background-color: white;
  padding: 15rem 10rem;

  &__video {
    position: absolute;
    right: 0;
    width: 50%;
    height: 80%;
    object-fit: contain;
    z-index: 0;
  }

  &__content {
    position: relative;
    @include flex-column;
    align-items: flex-start;
    gap: var(--large-gap);
    width: 100%;
    z-index: 2;
  }

  &__title-container {
    @include flex-column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:0;
  }

  &__subtitle {
    font-family: 'PangramSans-Light';
    position: relative;
    font-weight: 200;
    font-size: 1.3rem;
    width: 100%;
    letter-spacing: -0.04rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
max-width:60%;
    font-family: 'PangramSans-Medium';
  }

  &__button-container {
    @include flex-row;
    justify-content: flex-start;
    height: 40px;
  }

  &__button {
    margin: 0;
  }

    &__image {
      display: block;
      background-position: center;
      position: absolute;
      right: 0;
      bottom: 0;
      background-size: contain;
      height: 80%;
      margin-top: 2rem;
    }
}

@media (max-width: 767px) {
  .hero {
    padding: var(--padding);

    &__image {
      display: block;
      background-position: center;
      position: absolute;
      right: 0;
      bottom: 0;
      background-size: contain;
      height: 80%;
      margin-top: 2rem;
    }

    &__content {
      padding: 0;
      margin-top: 0;
      justify-content: space-between;
    }

      &__button-container {
  bottom:0;
  }
  &__title-container {
  margin-top:40%;
  position: relative;
  }


    &__title {
      font-size: var(--large-title-font);
      font-weight: 500;
      text-align: left;
      max-width: 100%;

    }
      &__subtitle {

    font-size: 0.9rem;
    line-height: 1.1rem;
    max-width:250px;
    font-family: 'PangramSans-Medium';

  }
  }
}

@media   (min-width: 768px) and (max-width: 1000px) {
  .hero {
    padding:12rem 5rem;

          &__subtitle {

    max-width:500px;


  }
  }
}

