@import '/src/styles/main';


.hero {
  @include flex-column;
  justify-content: center;
  align-items: flex-start;
  min-height: fit-content;
  background-position: center;
  color: var(--white-color);
  position: relative;
  min-height: 70vh;
  padding: 0 var(--xl-padding) var(--xl-padding) var(--xl-padding);

  .book-meeting-button {
    margin: 0;

  }


  .hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--mirage);
    opacity: 0.4; 

    z-index: 1;
  }

  /* Content Container */
  &__content {
    position: relative;
    @include flex-column;
    align-items: flex-start;
    gap: var(--large-gap);
    width: 100%;
    z-index: 2;
    margin-top: 20%;
    padding-bottom: var(--xl-padding);

  }


  &__subtitle {
    font-family: 'prompt';
    position: relative;
    font-weight: 200;
    font-size: 1.1rem;
    width: 100%;
  }

  /* Hero Title */
  &__title {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
    max-width: 50%;
    font-family: 'roboto';
    letter-spacing: -0.05rem;
  }


  /* Hero Button Container */
  &__button-container {
    @include flex-row;
   
    justify-content: flex-start;
    height: 40px;
  }


}

@media (max-width: 768px) {
  .hero {
    &__image {
      width: 100vw;
      height: 100%;
      background-position: center;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      background-size: cover;
    }

    padding: calc(var(--xl-padding)) var(--padding);

    &__content {
      gap: var(--large-gap);
      padding: 0;
      margin-top: 0;
      min-height: 60vh;
    }

    &__title {
      font-size: var(--large-title-font);
      font-weight: 500;
      text-align: left;
      max-width: 100%;
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .hero__image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
  }
}