@import '/src/styles/main';

.hero {
  display: grid;
  grid-template-columns: 0.5fr 4fr 1fr;
  grid-template-rows: 200px 2fr 200px;
  background-position: center;
  justify-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  width: 100vw;


  button {
    background-color: transparent !important;
    border: #003049 1px solid;
    color: #003049 !important;

    &:hover {
      border: #003049 1px solid !important;
      background-color: #003049 !important;
      color: white !important;
    }
  }

  &__video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    bottom: 0;
    grid-row: 3;
    grid-column: 1/span all;

  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    position: relative;
    @include flex-column;
    gap:0.5rem;
    align-items: flex-start;
    z-index: 2;
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
  }

  &__title {
    font-size: 3.25rem;
    font-weight: 400;
    margin: 0;
    font-family: 'GlacialIndifference-Bold';
    letter-spacing: -0.11rem;
    color: #003049;
    margin-left: -0.2rem;
  }

  &__subtitle {
    font-family: 'GlacialIndifference-Regular';
    font-size: 1.2rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

  &__button-container {
    @include flex-row;
    padding-top:2rem;
    justify-content: flex-start;
    height: 40px;

  }

  &__button {
    margin: 0;
  }

  &__vertical-menu {
    @include flex-column;
    z-index: 10;
    font-family: 'GlacialIndifference-Regular';
    color: #003049;
    grid-column: 3;
    grid-row: 2;
    white-space: nowrap;
    gap: 1rem;

    p {
      color: var(--black-color)
    }

    ;

    .menu-icon {
      max-width: 20px;
      border-radius: 2px;
    }
  }

  &__line {
    width: 2px;
    background-color: #eae2b7;
  }

  &__line--long {
    height: 50px;
  }

  &__line--short {
    height: 20px;
  }

  &__menu-item {
    @include flex-row;
    gap: 1rem;
    text-orientation: mixed;
    font-size: 0.95rem;
    cursor: pointer;
    transition: color 0.3s;
    right: 0;
    padding: 1rem;

    &:hover {
      color: #003049;
      transform: scale(1.02);
    }
  }


  &__image {
    display: block;
    background-position: center;
    position: absolute;
    right: 0;
    background-size: contain;
    width: 100%;
    object-fit: contain;
    bottom: 0;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 500px;
  }
}


@media (max-width: 1000px) {
  .hero {
    max-height: 60vh;
    grid-template-rows: 1fr 2fr 1fr;

    &__vertical-menu {

      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    min-height: 400px;
    top: 0;

    &__content {
      grid-column: 1/span all;
      padding: var(--padding);
      gap: 0.5rem;
    }

    &__button-container {
      display: none;
    }


    &__title {
      font-size: 2.2rem;

    }

    &__video {
      max-height: 150px;
    }

    &__vertical-menu {
      display: none !important;
    }
  }
}