@import '/src/styles/main';


.hero {
  @include flex-column;
  justify-content: center;
  align-items: flex-start;
  min-height: fit-content;
  background-position: center;
  background-color: $primary-color;
  background-image:
    linear-gradient(to left, rgba(66, 116, 170, 0) 0%, $primary-color 87%);
  color: var(--white-color);
  position: relative;
  min-height: 70vh;
  padding: 0 var(--xl-padding) var(--xl-padding) var(--xl-padding);

  .book-meeting-button {
    margin: 0;

  }


  .hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--mirage);
    opacity: 0.4; // Optional overlay

    z-index: 1;
  }

  /* Content Container */
  &__content {
    position: relative;
    @include flex-column;
    align-items: flex-start;
    gap: var(--large-gap);
    width: 100%;
    z-index: 2;
    margin-top: auto;
    padding-bottom: var(--xl-padding);


  }


  &__subtitle {
    font-family: 'prompt';
    position: relative;
    font-weight: 200;
    font-size: 1.1rem;
    width: 100%;
  }

  /* Hero Title */
  &__title {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
    max-width: 1000px;
    font-family: 'roboto';
    letter-spacing: -0.05rem;
  }


  /* Hero Button Container */
  &__button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small-gap);
    margin: 0 auto;
    width: 100%;
    justify-content: flex-start;
    height:40px;
  }
  .social-buttons__container {display:flex;gap:var(--small-gap);}
  .social-button {
    background: none;
    color: white; // or whatever fits your theme
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;


    &:hover {
      border-radius: var(--border-radius);
    }
  }
}



@media (max-width: 768px) {
  .hero {
    padding: calc(var(--xl-padding)) var(--padding);

    &__content {
      gap: var(--large-gap);
      padding: 0;
    }

    &__title {
      font-size: var(--large-title-font);
      font-weight: 500;
      text-align: left;
    }
  }
}