@import '/src/styles/main';

.skills-section {

    margin: 0 auto;

    h2 {
        padding-bottom: 1rem;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0.6rem;
        margin: 0 auto;
        justify-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1000px;

        ul {
            list-style: none;
            padding-top: var(--xs-padding);
        }


        .card {
            max-width: 350px;

            &:hover {
                transform: translateY(0);
                box-shadow: none;
                background-color: #f9f9f9 !important;
            }

        }
    }
}