@import '/src/styles/main';
.design-embeds__container {
    text-align: center;
.design-embeds {

    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--gap);
    max-width: 1200px;
    padding: var(--padding);
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    &__title {
        margin-bottom: 2rem;
        width:100%;
    }
}
}


@media (max-width: 768px) {
 .design-embeds {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
}
