@import '/src/styles/main';

/* Navbar Styles */
.navbar {
  height: 10vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: var(--white-color) !important;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  z-index: 9997 !important;
  padding: 0 var(--padding);
  box-sizing: border-box;
  font-family: 'Lato', serif;
  letter-spacing: -0.35px;
  font-weight: 400 !important;

  will-change: transform;
  overflow: visible;
  min-height: 70px;

  .mobile-home-link {
    display: none;
  }

  &.hidden {
    top: -100px;
  }



  a {
    color: var(--white-color)
  }

  a:visited,
  a:active {
    color: inherit;
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: visible;
  }

  &.hidden {
    transform: translateY(-100%);
    /* Slide navbar out of view */
  }

  &.scrolled {
    background-color: var(--white-color);
    color: var(--black-color) !important;
    border-bottom: 1px solid var(--lightgray-color);

    .navbar-logo {
      max-width: 40px;

      &:hover {
        background-color: rgba(80, 82, 83, 0.3) !important;
      }
    }


  }

  &.hidden {
    top: -100px;
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .menu-toggle {
      display: none;
      background: none;
      border: none;
      cursor: pointer;

      svg {
        color: #333;
      }
    }

    .navbar-links {
      list-style: none;
      display: flex;
      gap: 1rem;

      li {
        .navbar-link {
          text-decoration: none;
          color: #333;
          font-weight: 500;
        }
      }

      &.open {
        display: flex;
        position: absolute;
        gap: var(--small-gap);
        top: 60px;
        right: 1rem;
        background: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: var(--padding);
        border-radius: var(--border-radius);
      }
    }
  }


  .navbar-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .navbar-logo {
      max-width: 40px;
      border-radius: 50%;


      &:hover {
        background-color: hsla(60, 83%, 91%, 0.4);

      }


    }
  }


  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--gap);
    transition: max-height 0.3s ease, opacity 0.3s ease;
    height: max-content;




    li {
      position: relative;
      padding: var(--small-padding) 0;

      a {
        text-decoration: none;
        font-weight: 500;
        padding: 6px 10px;
        width: 100%;
        text-align: left;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: var(--small-border-radius);

        &:hover {
          background-color: hsla(60, 83%, 91%, 0.4);
          border-radius: var(--small-border-radius);
          color: var(--black-color) !important;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }


  }

  &.scrolled .navbar-links li a:hover {
    width: 100%;
    background-color: hsla(210, 2%, 32%, 0.2);
  }


}

@media (max-width: 768px) {
  .navbar {
    padding: var(--small-padding);
    z-index: 9999;



    &.scrolled {
      background-color: var(--white-color);
    }

    .mobile-home-link {
      display: block;
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #ddd;
      margin: 10px 0;
    }

    .menu-toggle {
      display: block !important;
    }

    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: var(--padding);
      background-color: var(--white-color);
      border-radius: var(--small-border-radius);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      z-index: 9999;
      gap: 0;
      width: 50%;
      opacity: 0.97;

      &:hover {
        background-color: var(--white-color) !important;
      }

      &.open {
        display: flex;
      }

      &.scrolled {
        background-color: var(--white-color);
      }

      li a {
        color: var(--black-color) !important;
      }
    }

    &.scrolled .navbar-links li a:hover {
      width: 100%;
      background-color: var(--white-color) !important;
    }

    .social-links-container {
      gap: 0;
    }


  }

  .navbar .navbar-content .navbar-links {
    display: none;
  }
}