.project-buttons {
  margin-top: 2em;
  display: flex;
  gap: 0.5em;
  align-self: center;
  padding-right: 2em;
  justify-content: flex-end;
  align-items: flex-end;

  @media (min-width: 1000px) {
    margin-top: 0;
    align-self: flex-end;
    padding-right: 1em;
    padding-top: 1em;
    width: 100%;
  }

  @media (min-width: 800px) and (max-width: 1000px) {
    justify-content: flex-end;
  }

  &__button {
    font-family: 'Lato', sans-serif !important;
    display: inline-block !important;
    z-index: 1 !important;

    &:hover {
      background-color: #f1ede8 !important;
      color: var(--black-color) !important;
      border-color:#f1ede8;
    }



    &--project {
      background-color: transparent;
    }

    &--github {
      background-color: transparent !important;
      color: #2a4756 !important;
    }
  }
}
